<app-page-header
  backTo="/account"
  title="Profil"
  description="Lengkapi informasi profil kamu untuk meningkatkan kesempatan mendapatkan Campaign">
</app-page-header>

<div class="row">
  <div class="col-12 col-md-3 order-md-2 w-100 my-2">
    <div class="avatar avatar-big">
      <!-- <img [src]="null" alt="Avatar" class="img-fluid"> -->
      <div style="width: 120px; height: 120px; border-radius: 100%; margin: 0 auto; background-color: lightgray;"></div>
    </div>
  </div>
  <div class="col-12 col-md-9 order-md-1 w-100 my-2">
    <app-profile-basic></app-profile-basic>
    <app-profile-interest></app-profile-interest>
    <app-profile-capability></app-profile-capability>

    <button mat-button mat-raised-button color="primary" class="my-2 w-100">Simpan Profil</button>
  </div>
</div>
