<div class="row no-gutters" [class.align-items-center]="!options.multiline">
  <div class="col-auto">
    <div class="d-flex align-items-center">
      <mat-icon class="mat-icon material-icons text-{{color}}"
        [class.small]="options.small">{{icon}}</mat-icon>
    </div>
  </div>
  <div class="col pl-1">
    <p [class.small]="options.small" [class]="getTextColor()">
      <ng-content></ng-content>
    </p>
  </div>
</div>
