<div class="row no-gutters align-items-center">
  <div class="col-auto">
    <div class="d-flex align-items-center">
      <mat-icon class="mat-icon material-icons text-{{color}}">{{icon}}</mat-icon>
    </div>
  </div>
  <div class="col" [ngClass]="getSideClass()">
    <p [class]="getTextClass()">
      <ng-container *ngIf="!options.short; else short">{{ number | number }}</ng-container>
      <ng-template #short>{{ number | numberShort }}</ng-template>
    </p>
  </div>
</div>
