<mat-nav-list>
  <mat-list-item>
    <a routerLink="./email-password">Email &amp; Password</a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <a routerLink="./profile">Profil</a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <a routerLink="./address">Alamat Pengiriman</a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <a routerLink="./bank">Akun Bank</a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <a routerLink="./social">Media Sosial</a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    Keluar
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-nav-list>
