<mat-form-field class="w-100">
  <mat-label>Username Instagram</mat-label>
  <input matInput placeholder="username" type="text">
</mat-form-field>

<div class="username-list mb-2">
  <mat-nav-list class="no-full">
    <ng-container *ngFor="let username of usernames; index as i;">
      <mat-list-item (click)="consoling('item')">
        <img matListAvatar [src]="avatarUrl" alt="Ava">
        <p matLine>{{ username }}</p>
        <!-- <button mat-icon-button style="margin-right: -1rem;" (click)="consoling('clear')">
          <mat-icon>clear</mat-icon>
        </button> -->
      </mat-list-item>
      <mat-divider *ngIf="i !== usernames.length - 1"></mat-divider>
    </ng-container>
  </mat-nav-list>
</div>

<!-- selected username below -->

