<div class="row">
  <div class="col-12 col-md">
    <app-page-header backTo="/campaign" [options]="{ noDivider: true }"
      title="#mendadakbulat" subtitle="Tahu Bulat">
    </app-page-header>
  </div>
  <div class="col-12 d-block d-md-none">
    <div class="divider"></div>
  </div>
  <div class="col-12 col-md-auto">
    <div class="progress-container">
      <div class="row">
        <div class="col-auto">
          <p>Tawaran Campaign</p>
        </div>
        <div class="col-auto ml-auto">
          <p>1 / 3</p>
        </div>
      </div>
      <mat-progress-bar mode="determinate" value="33"></mat-progress-bar>
      <p class="text-center">Posting Due: Tanggalnya disini</p>
    </div>
  </div>
</div>
<div class="divider d-md-block d-none"></div>
