
.upload-container {
  overflow-x: auto;
  width: 100%;

  .upload-item {
    width: 150px;
    height: 150px;
    margin-right: 8px;
    display: inline-block;
    background-color: lightgray;
    border-radius: 2px;
  }
}
