<h6>Pengajuan Foto</h6>
<p>Unggah konten yang Anda buat (maks. 3 buah). Pengiklan akan menilai permohonan Anda dan memberikan tanggapan. Jika konten yang Anda unggah tidak sesuai dengan penjelasan singkat Campaign, maka Pengiklan berhak memberikan revisi.</p>

<div class="upload-container">
  <div class="upload-item"></div>
  <div class="upload-item"></div>
  <div class="upload-item"></div>
</div>
<p>Maksimal ukuran foto: 3 MB</p>

<mat-form-field>
  <textarea matInput placeholder="Caption" matTextareaAutosize matAutosizeMinRows="3"></textarea>
</mat-form-field>

<div class="d-flex">
  <mat-icon class="mr-2">info_outline</mat-icon>
  <p>Ingat, jangan posting konten yang belum mendapat persetujuan dari Pengiklan.</p>
</div>

<div class="row">
  <div class="col-md-auto ml-md-auto col-12">
    <button mat-button mat-raised-button color="primary" class="btn-block">Ajukan Konten untuk Diproses</button>
  </div>
</div>
