<app-card-item>
  <h6>Hashtag Terbaik Dari Jumlah Likes</h6>
  <mat-nav-list>
    <ng-container *ngFor="let hashtag of hashtags; index as i">
      <app-analytic-list-item [number]="hashtag.likes">#{{hashtag.hashtag}}</app-analytic-list-item>
    </ng-container>
  </mat-nav-list>
</app-card-item>
