<app-label-text label="Campaign Berhasil"></app-label-text>

<div class="row no-gutters">
  <div class="col-12 col-md-6" *ngFor="let succ of success; index as i;">
    <div [class.pr-2]="((i % 2) + 1) !== 0">
      <app-campaign-done></app-campaign-done>
    </div>
    <div class="spacer small" *ngIf="(i + 1) !== success.length"></div>
  </div>
</div>
