<app-card-item>
  <h6>Jam Terbaik Kamu Dari Likes</h6>
  <mat-nav-list>
    <ng-container *ngFor="let item of bestTimes">
      <app-analytic-list-item number="128.12">Senin, 16-17 PM</app-analytic-list-item>
    </ng-container>
  </mat-nav-list>
</app-card-item>
