<div class="row">
  <div class="col col-md-12 mb-2">
    <h6>Status</h6>
    <small>Ajukan Konten</small>
  </div>
  <div class="col col-md-12 mb-2">
    <h6>Batas Waktu</h6>
    <small>14 Desember 2017</small>
  </div>
</div>
