<app-label-text label="Tawaran Campaign"></app-label-text>
<app-side-scroll>
  <div class="scroll-item" *ngFor="let offer of offers">
    <app-campaign-offer></app-campaign-offer>
  </div>
</app-side-scroll>
