<h5>Interest bro</h5>
<mat-chip-list [multiple]="true" [selectable]="true" [(ngModel)]="selectedColors">
  <mat-basic-chip *ngFor="let aColor of availableColors"
    color="{{aColor.color}}" [value]="aColor.name"
    [selected]="selectedColors.includes(aColor.name)"
    (click)="!selectedColors.includes(aColor.name) ? selectedColors.push(aColor.name) : selectedColors.splice(selectedColors.indexOf(aColor.name), 1)">
    {{aColor.name}}
  </mat-basic-chip>
</mat-chip-list>

The selected colors are
<span *ngFor="let color of selectedColors"> {{color}}</span>.
