<!-- <mat-card class="w-100">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Campaign Photo">
  <mat-card-content>
    <app-icon-text icon="flash_on" [options]="{small: true}">Tawaran Campaign</app-icon-text>
    <h6>#JudulCampaignDisini</h6>
    <p>Company Name</p>
    <p style="height: 3rem;">
      Brief campaign nih bro...Brief campaign nih bro...Brief campaign nih bro...
    </p>
    <div class="row">
      <div class="col-6">
        <p class="small">posting</p>
        <app-icon-text icon="photo">Instagram</app-icon-text>
      </div>
      <div class="col-6">
        <p class="small">batas waktu</p>
        <app-icon-text icon="schedule">12/01/18</app-icon-text>
      </div>
    </div>
  </mat-card-content>
</mat-card> -->

<app-card-item image="https://material.angular.io/assets/img/examples/shiba2.jpg"
  [options]="{imageTop: true}">
  <app-icon-text icon="flash_on" [options]="{small: true, textColor: 'icon'}"
    color="blue">Tawaran Campaign</app-icon-text>
  <h6>#JudulCampaignDisini</h6>
  <p>Company Name</p>
  <p style="height: 4rem;" class="pb-1">
    Brief campaign nih bro...Brief campaign nih bro...
  </p>
  <div class="row">
    <div class="col-6">
      <p class="small">posting</p>
      <app-icon-text icon="photo">Instagram</app-icon-text>
    </div>
    <div class="col-6">
      <p class="small">batas waktu</p>
      <app-icon-text icon="schedule">12/01/18</app-icon-text>
    </div>
  </div>
</app-card-item>
