<ng-container *ngFor="let day of days">
  <div class="scroll-item" style="width: 75vw">
  <app-card-item>
    <h6>Senin</h6>
    <mat-nav-list>
      <ng-container *ngFor="let time of times">
        <app-analytic-list-item number="523">00-06 AM</app-analytic-list-item>
      </ng-container>
    </mat-nav-list>
  </app-card-item>
  </div>
</ng-container>
