<app-campaign-detail-header class="pb-3"
  *ngIf="checkMenu()"></app-campaign-detail-header>
<div class="row">
  <div class="col-md-auto col-12" *ngIf="checkMenu()">
    <app-campaign-detail-menu></app-campaign-detail-menu>
  </div>
  <div class="col">
    <ng-container *ngIf="showingTodo()">
      <!-- <a mat-button color="primary" routerLink="./todo" class="todo-link" *showItBootstrap="['sm','xs']">Panduan</a> -->
      <button mat-button mat-raised-button class="absolute-top-right" style="top: -0.25rem"
       *showItBootstrap="['sm','xs']" (click)="openTodo()">Panduan</button>
    </ng-container>
    <div class="pt-md-2"></div>
    <router-outlet></router-outlet>
  </div>
</div>
