
@font-face {
  font-family: 'Akkurat';
  font-style: normal;
  font-weight: normal;
  src: '../assets/fonts/Akkurat.ttf';
}

@font-face {
  font-family: 'Akkurat Bold';
  font-style: bold;
  font-weight: bold;
  src: '../assets/fonts/Akkurat-Bold.ttf';

}

