@import '~styles/variables.scss';

// Overrides Bootstrap Variables
$spacer: 1.5rem;

// Overrides Basic Variables


// Overrides Material Theming
@import '~@angular/material/theming';
@include mat-core();

@import '~styles/palette.scss';

$theme-primary: mat-palette($theming-blue);
$theme-accent: mat-palette($theming-purple);
$theme-warn: mat-palette($theming-red);

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
@include angular-material-theme($theme);
