@import '~styles/variables.scss';

$theming-blue: (
  100: lighten($primary-blue, 20%),
  500: $primary-blue,
  700: darken($primary-blue, 20%),
  contrast: (
    100: white,
    500: white,
    700: white,
  )
);

$theming-purple: (
  100: lighten($primary-purp, 20%),
  500: $primary-purp,
  700: darken($primary-purp, 20%),
  contrast: (
    100: white,
    500: white,
    700: white,
  )
);

$theming-red: (
  100: lighten($accent-red, 20%),
  500: $accent-red,
  700: darken($accent-red, 20%),
  contrast: (
    100: white,
    500: white,
    700: white,
  )
);
