
// Primary Colors
$primary-blue : #6ACBE0;
$primary-purp : #D359EA;

// Accent Colors
$accent-red   : #EC4453;
$accent-orange: #FF7B53;
$accent-green : #48C471;

// Grey Colors
$grey-dark    : #18282F;
$grey-base    : #3C5560;
$grey-second  : #6F8893;
$grey-light   : #B0C1C8;
$grey-back    : #E9EEF1;

// Type Styles
$font-regular : 'Akkurat', Arial, Helvetica, sans-serif !default;
$font-bold    : 'Akkurat Bold', Arial, Helvetica, sans-serif !default;

// Strokes
$stroke-base  : 1px solid $grey-second;
$stroke-light : 1px solid $grey-light;

// Border Radiuses
$radius-large : 0.5rem;
$radius-base  : 0.25rem;
$radius-small : 0.125rem;

// Type Scales
$title-large  : 2.25rem;
$title-base   : 1.5rem;
$title-small  : 1.25rem;

$label-large  : 1.5rem;
$label-base   : 1rem;
$label-small  : 0.75rem;

$para-large   : 1.125rem; //18px (1rem = 16px)
$para-base    : 0.875rem; //14px
$para-small   : 0.75rem;  //12px
$para-tiny    : 0.625rem; //10px
