<app-main-header>Notifikasi</app-main-header>

<ng-container *ngFor="let notif of notifications">
  <app-date-line></app-date-line>
  <app-notification-item [newSign]="true">Binds the presence of CSS classes on the element to the truthiness of the associated map values. The right-hand expression
  should return class-name: true/false map.</app-notification-item>
</ng-container>
