<ng-container *ngIf="todo.includes('application')">
  <h6 *ngIf="todo.length > 1" class="mt-2">Permohonan</h6>
  <ol>
    <li>Tunggu Brand untuk menilai permohonan kamu</li>
    <li>Jika Pengiklan menyetujui permohonan kamu maka kamu dapat langsung membuat konten berdasarkan penjelasan singkat mengenai
      Campaign dan mengajukannya sebelum batas waktu pengunggahan.</li>
  </ol>
</ng-container>

<ng-container *ngIf="todo.includes('submission')">
  <h6 *ngIf="todo.length > 1" class="mt-2">Pengajuan</h6>
  <ol>
    <li>Buat konten yang sesuai dengan penjelasan singkat Campaign, kamu memiliki waktu 14 hari.</li>
    <li>Jika Pengiklan memiliki produk yang perlu dikirim, tunggu hingga kamu menerima produk tersebut. Setelah itu, silahkan membuat konten yang diminta.</li>
    <li>Unggah konten lalu tunggu Pengiklan memberi tanggapan.</li>
    <li>Jika konten tidak sesuai dengan kebutuhan Campaign maka Pengiklan akan meminta revisi konten, kamu memiliki waktu 4 hari untuk mengunggah konten tersebut.</li>
  </ol>
</ng-container>

<ng-container *ngIf="todo.includes('post')">
  <h6 *ngIf="todo.length > 1" class="mt-2">Posting</h6>
  <ol>
    <li>Ikuti instruksi posting untuk mengunggah konten, lalu konfirmasi jika kamu sudah mengunggah konten tersebut. Virallo akan memberikan verifikasi di sini.</li>
    <li>Pastikan kamu telah menuliskan no. rekening Bank di halaman akun, Virallo akan mengirimkan pembayaran maksimal 14 hari setelah kamu posting konten tersebut.</li>
  </ol>
</ng-container>
