@import '~styles/variables.scss';

h1, h2, h3, h4, h5, h6, p {
  // font-weight: 400;
  margin-bottom: 0 !important;
}

h1 { font-size: $title-large; }
h2 { font-size: $title-base; }
h3 { font-size: $title-small; }
h4 { font-size: $label-large; }
h5 { font-size: $label-base; }
h6 { font-size: $label-small; }

p {
  font-size: $para-base;
  &.large { font-size: $para-large; }
  &.small { font-size: $para-small; }
  &.tiny { font-size: $para-tiny; }
}

.text-heavy {
  font-family: $font-bold !important;
  font-weight: 550;
}

.text-blue { color: $primary-blue; }
.text-purple { color: $primary-purp; }
.text-red { color: $accent-red; }
.text-orange { color: $accent-orange; }
.text-green { color: $accent-green; }

.text-grey-dark { color: $grey-dark; }
.text-grey-base { color: $grey-base; }
.text-grey-second { color: $grey-second; }
.text-grey-light { color: $grey-light; }
.text-grey-back { color: $grey-back; }
