@import '../variables.scss';

.border-light {
  border: $stroke-light;
  &-right { border-right: $stroke-light; }
}

.border-base {
  border: $stroke-base;
  &-right { border-right: $stroke-base; }
}


.round {
  border-radius: $radius-base;
  &-small { border-radius: $radius-small }
  &-large { border-radius: $radius-large }
}

.flush-side {
  margin: 0 -1rem !important;
}

.absolute-top-right {
  z-index: 10;
  position: absolute !important;
  right: 1rem;
  top: 1rem;
  &.mat-button {
    top: 0.75rem;
  }
  &.mat-icon-button {
    right: 0.5rem;
  }
}
