<app-main-header>Analisa</app-main-header>

<div class="row no-gutters align-items-center">
  <div class="col-auto">
    <app-avatar-img [avatarUrl]="null" [options]="{ showLogo: true }"></app-avatar-img>
  </div>
  <div class="col">
    <div class="pl-2">
      <h6 class="text-heavy">Username Insta</h6>
      <p>Nama Lengkap</p>
    </div>
  </div>
</div>

<div class="spacer small"></div>
<!-- <app-analytic-menu></app-analytic-menu> -->

<ng-container>
  <app-title-collapse title="Media Terbaik" subtitle="Ringkasan performa media kamu.">
    <app-summary-page></app-summary-page>
  </app-title-collapse>

  <app-title-collapse title="Waktu Terbaik" subtitle="Waktu posting terbaik kamu.">
    <app-best-time-page></app-best-time-page>
  </app-title-collapse>

  <app-title-collapse title="Hashtag Terbaik" subtitle="Hashtag dari media terbaik kamu.">
    <app-hashtag-page></app-hashtag-page>
  </app-title-collapse>
</ng-container>
