<app-page-header *showItBootstrap="['sm','xs']"
  backTo="/campaign/01" title="Pengajuan" subtitle="#mendadakbulatseason2">
</app-page-header>

<div class="row">
  <div class="col-12 col-md-8 order-2 order-md-1">
    <app-submission-form></app-submission-form>
    <!-- <app-submission-display></app-submission-display> -->
  </div>
  <div class="col-12 col-md-4 order-1 order-md-2 mb-2">
    <app-campaign-status></app-campaign-status>
    <ng-container *hideItBootstrap="['sm','xs']">
      <h6>Panduan Pengerjaan</h6>
      <app-todo-content [todo]="['submission']"></app-todo-content>
    </ng-container>
  </div>
</div>
