@import '~bootstrap/scss/bootstrap.scss';
@import '~styles/variables.scss';

.mat-card {
  @extend .p-2;
  width: 100%;
  overflow: hidden;
  border-radius: $radius-small;

  .image-left {
    border-radius: $radius-small 0 0 $radius-small;
  }
  .image-top {
    border-radius: $radius-small $radius-small 0 0;
  }
}

