@import '~styles/variables.scss';
@import '~bootstrap/scss/bootstrap.scss';

.mat-chip {
  @extend p.small, .px-1, .py-0;
  border-radius: $radius-base;
}

.chip-white {
  background-color: white !important;
}
