@import '~styles/elements/others.scss';

.responsive-dialog {
  height: 100%;
  width: 100%;
  .mat-dialog-container {
    @extend .content;
    .mat-dialog-content {
      max-height: unset;
      overflow-y: scroll;
    }
  }
}
