@import '../variables.scss';

input.mat-input-element, textarea.mat-input-element, .mat-select {
  border: $stroke-light;
  padding: 0.375rem;
  border-radius: $radius-small;

  &:focus {
    border-color: $grey-base;
  }
}

.mat-form-field-infix {
 padding-bottom: 0;
}

.mat-form-field-underline {
  opacity: 0;
}
