@import '~styles/variables.scss';

// Material List
.mat-nav-list {
  padding-top: 0 !important;
  margin: 0 -1rem;
}
.mat-divider {
  margin: 0 1rem !important;
}
.mat-list-item {
  &.disabled {
    color: $grey-light;
  }
}

.no-full {
  &.mat-nav-list {
    margin: 0;
  }
  // .mat-divider {
  //   margin: 0 !important;
  // }
}

// Html List
ol {
  padding-left: 1.25rem;
}
