@import '~styles/variables.scss';
@import '~bootstrap/scss/bootstrap.scss';

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.divider {
  height: 1px;
  background-color: $grey-light;
  margin: 0.25rem 0;
  // width: 100%;
}

.mat-progress-bar {
  height: 0.6rem !important;
  border-radius: $radius-large;
  border: $stroke-base;
}

.mat-progress-bar-buffer {
  background-color: unset !important;
}

.content {
  max-height: 100%;
  padding: 1rem;
  overflow-y: auto;

  @include media-breakpoint-down(sm) {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
  }
}

.side-scroll {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  padding: 0 1rem;
  .scroll-item {
    display: inline-block !important;
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}
