@import '~bootstrap/scss/bootstrap.scss';
@import '~styles/variables.scss';

.tab-content {
  padding: 0 1rem;
}

.mat-tab-header {
  border-bottom: none;
}

.mat-tab-label-container {
  margin: 0 1rem;
}

.mat-tab-label {
  height: unset !important;
  padding: 0.25rem 1rem !important;
  opacity: 1 !important;
  border-radius: 100rem;
  @extend .mr-2, .mb-2 ;
  background-color: $grey-light !important;
  &-active {
    background-color: $grey-second !important;
    color: white;
  }
  &:focus { background-color: $grey-second !important }
}

.mat-ink-bar {
  visibility: hidden !important;
}
