<button mat-icon-button (click)="goBack()" *showItBootstrap="['sm','xs']">
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>
<div class="row">
  <div class="col-auto" *ngIf="image">
    <app-display-img image="image" [options]="{ small: true }"></app-display-img>
  </div>
  <div class="col">
    <h4 class="text-heavy">{{ title }}</h4>
    <h6 *ngIf="subtitle">{{ subtitle }}</h6>
    <p *ngIf="description">{{ description }}</p>
  </div>
</div>
<div *ngIf="!options.noDivider" class="divider"></div>
