button {
  position: absolute;
  margin-left: -1.7rem;
  margin-top: -0.375rem;
  z-index: 10;
}

// .mat-icon {
//   font-size: 1.5rem;
// }

.image-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
