<div class="avatar" [ngClass]="{ 'small': options.small, 'large': options.large }">
  <img *ngIf="avatarUrl" [src]="avatarUrl" class="img-fluid">
  <div *ngIf="options.showLogo || !avatarUrl" class="logo-icon" [class.logo-small]="avatarUrl">
    <i class="fa fa-{{logo}}"></i>
  </div>
</div>
