@import '../../../../styles/variables.scss';
@import '~@angular/material/theming';

.avatar {
  width: 1rem * 3;
  height: 1rem * 3;
  border-radius: 100%;

  .logo-icon {
    color: $grey-light;
    font-size: $title-large;
    width: 100%;
    height: 100%;

    display: table;
    text-align: center;
    i {
      display: table-cell;
      vertical-align: middle;
    }

    &.logo-small {
      font-size: $label-base;
      background-color: white;
      border-radius: 100%;
      width: $label-base * 1.5;
      height: $label-base * 1.5;
      position: absolute;
      right: -0.25rem;
      bottom: -0.25rem;
      @include mat-elevation-transition;
      @include mat-elevation(2);
    }
  }
}
