<div class="row justify-content-between">
  <div class="col-12 text-center pb-2">
    <h4>Ayo Menjadi Viral!</h4>
    <p>Hubungkan satu (atau semua) akun media sosial kamu untuk melihat Campaign terbaru yang menunggumu.</p>
  </div>
  <div class="col-auto">
    <button mat-button>Keluar</button>
  </div>
  <div class="col-auto">
    <button mat-button mat-raised-button color="primary">Isi Profil</button>
  </div>
</div>

<div class="spacer"></div>

<mat-card>
  <app-social-list (socialItem)="goToSocial($event)"></app-social-list>

  <div class="spacer large"></div>

  <div class="row">
    <div class="col-12 col-md-6 mb-1">
      <app-icon-text icon="group" [options]="{ multiline: true }" >
        <p>Mayoritas Campaign mensyaratkan kamu untuk memiliki setidaknya 1.000 followers</p>
      </app-icon-text>
    </div>
    <div class="col-12 col-md-6 mb-1">
      <app-icon-text icon="tune" [options]="{ multiline: true }" >
        <p>Kamu selalu dapat menambahkan akun di bagian pengaturan profil</p>
      </app-icon-text>
    </div>
  </div>
</mat-card>
