<mat-card class="p-0">
  <div class="row no-gutters">
    <div *ngIf="image" [ngClass]="{'col-auto': !options.imageTop,
      'image-top col-12': options.imageTop}">
      <div [ngStyle]="{'width': options.imageTop ? '100%' : '100px',
          'height': options.imageTop ? '150px' : '100%',
          'background': 'url(' + image + ') no-repeat',
          'background-size': 'cover'}"
        [ngClass]="{'image-left': !options.imageTop, 'image-top': options.imageTop}">
      </div>
    </div>
    <div class="col">
      <div class="p-2">
        <h6 class="pb-2" *ngIf="title">{{ title }}</h6>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</mat-card>
