<mat-nav-list>
  <mat-list-item (click)="selectSocial('instagram')">
    <div mat-line>
      <div class="row no-gutters align-items-center w-100">
        <div class="col-auto">
          <app-avatar-img [options]="{ showLogo: true }" [avatarUrl]="avatarUrl"></app-avatar-img>
        </div>
        <div class="col pl-2">
          <p>Daftarkan Akun Instagram</p>
        </div>
      </div>
    </div>
    <mat-icon>add</mat-icon>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item (click)="selectSocial('youtube')" class="disabled">
    <div mat-line>
      <div class="row no-gutters align-items-center w-100">
        <div class="col-auto">
          <app-avatar-img logo="youtube-play"></app-avatar-img>
        </div>
        <div class="col pl-2">
          <p>Daftarkan Akun Youtube</p>
          <p class="small">Coming Soon</p>
        </div>
      </div>
    </div>
    <mat-icon>add</mat-icon>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-nav-list>
