<app-main-header>{{ header }}</app-main-header>
<button mat-button mat-icon-button class="absolute-top-right"
  *ngIf="!options.noCloseBtn" (click)="close()">
  <mat-icon>close</mat-icon>
</button>
<ng-content></ng-content>
