
<div class="row no-gutters">
  <div class="col-auto">
    <app-display-img [options]="{small: true}" [image]="picture"></app-display-img>
  </div>
  <div class="col">
    <div class="pl-2">
      <mat-chip [class.visible]="newSign" class="float-right" color="primary" selected>Baru</mat-chip>
      <p>
        <ng-content></ng-content>
      </p>
    </div>
  </div>
</div>
