<mat-nav-list>
  <mat-list-item>
    <mat-icon>insert_drive_file</mat-icon>
    <a routerLink=".">Penjelasan Campaign</a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>date_range</mat-icon>
    <a routerLink=".">Timeline Campaign</a>
  </mat-list-item>
  <h3 mat-subheader>Perkembangan Campaign</h3>
  <mat-list-item>
    <mat-icon>content_paste</mat-icon>
    <a routerLink="./application">Pendaftaran</a>
    <mat-icon class="ml-auto">check_circle</mat-icon>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>wallpaper</mat-icon>
    <a routerLink="./submission">Pengajuan</a>
    <mat-icon class="ml-auto">more_horiz</mat-icon>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>photo</mat-icon>
    <a routerLink=".">Posting</a>
    <mat-icon class="ml-auto">more_horiz</mat-icon>
  </mat-list-item>
</mat-nav-list>
