<app-card-item image="https://material.angular.io/assets/img/examples/shiba2.jpg">
  <!-- <div class="row align-items-center">
    <div class="col">
      <h6>#JudulCampaignDisini</h6>
      <p>Company Name</p>
    </div>
    <div class="col-auto">
      <mat-icon>photo</mat-icon>
    </div>
  </div> -->
  <h6>#JudulCampaignDisini</h6>
  <p>Company Name</p>
  <app-icon-text icon="photo">Instagram</app-icon-text>
</app-card-item>
