<div class="row">
  <div class="col-12 col-md-8 order-2 order-md-1">
    <ng-content select="[main-content]"></ng-content>
  </div>
  <div class="col-12 col-md-4 order-1 order-md-2 mb-2">
    <ng-content select="[side-content]"></ng-content>
    <ng-container *showItBootstrap="['md','lg','xl']">
      <ng-content select="[responsive-content]"></ng-content>
    </ng-container>
  </div>
</div>
