<div class="onboard-bg h-100">
  <div class="d-flex justify-content-center align-items-center container h-100">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
