<app-main-header>Campaign</app-main-header>

<div class="flush-side">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <app-tab-label label="Active" count="15"></app-tab-label>
      </ng-template>
      <div class="tab-content">
        <div class="row">
          <ng-container *ngFor="let campaign of campaigns">
            <div class="col-12 col-sm-6 col-lg-4 mb-2">
              <app-campaign-item (click)="goToCampaign('01')"></app-campaign-item>
            </div>
          </ng-container>
        </div>
      </div>
    </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <app-tab-label label="Past" count="5"></app-tab-label>
          </ng-template>
          <div class="tab-content">
            <div class="row">
              <ng-container *ngFor="let campaign of campaigns">
                <div class="col-12 col-sm-6 col-lg-4 mb-2">
                  <app-campaign-item (click)="goToCampaign('01')"></app-campaign-item>
                </div>
              </ng-container>
            </div>
          </div>
        </mat-tab>
  </mat-tab-group>
</div>

<!-- <app-tab-page [tabs]="tabs" (index)="index = $event">
  <ng-container [ngSwitch]="index">
    <div *ngSwitchCase="0">
      kancut 1
    </div>
    <div *ngSwitchCase="1">
      kancut 2
    </div>
    <div *ngSwitchCase="2">
      kancut 3
    </div>
  </ng-container>
</app-tab-page> -->
