<app-title-collapse title="Kode Etik Influencer">
  <app-label-text label="Gunakan Copyright dengan Baik">
    <p>
    Berbagi dengan kepedulian. Hanya bagikan foto atau video yang kamu berhak gunakan - termasuk logo. Kamu wajib memiliki persetujuan orang-orang yang berada di foto unggahan tersebut, memastikan mereka mengerti bagaimana foto tersebut akan digunakan. Jika ada anak kecil yang dipotret, Kamu harus memiliki persetujuan dari wali anak tersebut.
    </p>
  </app-label-text>
  <app-label-text label="Jadilah Diri Sendiri">
    <p>
    Jangan menggunakan alat untuk meningkatkan jumlah follower, like, atau komentar palsu. Jika ada usaha untuk meningkatkan follower, like, atau komentar non-organik maka akan terjadi penangguhan.
    </p>
  </app-label-text>
  <app-label-text label="Jadilah Profesional">
    <p>
    Kamu harus menempatkan diri menjadi seorang pebisnis. Apa yang terjadi di dalam medium Virallo adalah sebuah transaksi bisnis. Penyebutan nama Virallo maupun Pengiklan yang bekerjasama harap diucapkan dengan profesionalitas.
    </p>
  </app-label-text>
</app-title-collapse>
<app-title-collapse title="Ekspektasi Campaign">
  <app-label-text>
    <p>
    Di akhir setiap Campaign, Kamu akan diberikan rating. Pengiklan akan mengonsiderasi rating tersebut ketika memilih Influencer untuk Campaign yang dilakukan. Selalu ingat mengenai ekspektasi dan harapan-harapan di bawah ini dan buat rating kamu tetap gemilang. Menanggalkan salah satu ekspektasi tersebut dapat menyebabkan penangguhan dari medium Virallo.
    </p>
  </app-label-text>
  <app-label-text label="Mengunggah dengan Tepat Waktu">
    <p>
    Timeline membantu ketepatan waktu semua orang. Pastikan bahwa kamu melaksanakan bagian kamu dengan mengikuti timeline yang telah disepakati bersama. Jika terjadi force majeur antara kamu dan timeline, beritahu kami.
    </p>
  </app-label-text>
  <app-label-text label="Penerimaan Produk">
    <p>
    Biasanya Pengiklan akan memberi kamu produk untuk difoto dalam rangkaian Campaign. Setelah menerima produk, seluruh bagian kesepakatan wajib diselesaian di dalam timeline yang disepakati. Jika kamu tidak dapat memenuhi Campaign, Kamu bertanggung jawab mengembalikan produk ke Pengiklan dengan aman. Kami tidak bertanggung jawab atas kerusakan produk.
    </p>
  </app-label-text>
  <app-label-text label="Menggunakan Bahasa yang Pantas">
    <p>
    Caption yang kamu tuliskan wajib menghormati Pengiklan yang bekerjasama dan merefleksikan tingkat profesionalisme. Sehingga harus menggunakan bahasa yang sopan dan pantas. Ingat bahwa Pengiklan yang senang berarti akan semakin banyak campaign yang datang.
    </p>
  </app-label-text>
  <app-label-text label="Memastikan Kualitas Gambar">
    <p>
    Pengiklan menyukai feed kamu karena sebuah alasan. Tampilan feed kamu sesuai dengan tampilan yang diinginkan di Campaign itu. Foto yang akan diunggah harus merefleksikan kualitas feed kamu secara keseluruhan.
    </p>
  </app-label-text>
  <app-label-text label="Menghapus Unggahan">
    <p>
    Pastikan untuk mencatat syarat dan kebutuhan di dalam kesepakatan mengenai waktu untuk menghapus unggahan tersebut dari feed kamu.
    </p>
  </app-label-text>
  <app-label-text label="Saling Menghormati">
    <p>
    Kamu hanya mendapatkan satu kesempatan dalam memberikan kesan pertama. Jika kamu memberikan feedback positif mengenai Virallo, atau menyebutkan Pengiklan yang bekerja sama dengan kamu, mohon hanya tag kami di dalam konten yang berhubungan.
    </p>
  </app-label-text>
</app-title-collapse>
