<mat-form-field>
  <input matInput placeholder="Nama Depan">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Nama Belakang">
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Lokasi">
    <mat-option value="option">Option</mat-option>
    <mat-option value="option1">Option1</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Pekerjaan">
    <mat-option value="option">Option</mat-option>
    <mat-option value="option1">Option1</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <input matInput [matDatepicker]="dp" placeholder="Tanggal Lahir" disabled>
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp disabled="false"></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <span matPrefix>+62 &nbsp;</span>
  <input matInput placeholder="Nomor Telepon">
</mat-form-field>

<mat-form-field>
  <textarea matInput placeholder="Bio" matTextareaAutosize matAutosizeMinRows="3"
            matAutosizeMaxRows="6"></textarea>
</mat-form-field>
