<div class="spacer small"></div>
<app-card-item image="https://material.angular.io/assets/img/examples/shiba2.jpg"
  [options]="{imageTop: top}">
  <h6>{{ media.title }}</h6>
  <p class="large"><small>Engagement:</small> {{ media.engagement }}</p>
  <div class="row">
    <div class="col-6 border-base-right">
      <app-icon-number icon="favorite" number="7000" color="red"></app-icon-number>
    </div>
    <div class="col-6">
      <app-icon-number icon="chat_bubble" number="1211201" color="blue"></app-icon-number>
    </div>
  </div>
</app-card-item>
