<div class="row no-gutters main-container">
  <div class="col col-md order-md-2">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="col-auto col-md-auto order-md-1">
    <app-main-menu></app-main-menu>
  </div>
</div>
