@import '~styles/variables.scss';

div {
  height: 4rem;
  width: 4rem;
  border-radius: $radius-base;
}

.small {
  height: 2rem;
  width: 2rem;
  border-radius: $radius-small
}

.large {
  height: 6rem;
  width: 6rem;
  border-radius: $radius-large
}

.not-round {
  border-radius: 0 !important;
}

.full {
  height: auto !important;
}
