<div class="row no-gutters align-items-center py-2">
  <div class="col-auto">
    <p>{{ date | date: 'EEEE, dd MMMM y' }}</p>
  </div>
  <div class="col">
    <div class="divider ml-1"></div>
  </div>
</div>
