<app-page-header *showItBootstrap="['sm','xs']"
  backTo="/campaign/01" title="Pendaftaran" subtitle="#mendadakbulatseason2">
</app-page-header>

<app-campaign-layout>
  <div main-content>
    <app-label-text label="Tanggal Pendaftaran">
      <p class="large">{{ '2017-12-29' | date:'EEEE, dd MMMM y' }}</p>
    </app-label-text>

    <app-label-text label="Biaya yang Diajukan">
      <p class="large">{{ 500000 | currency:'IDR':'true' }}</p>
    </app-label-text>

    <app-label-text label="Pesan untuk Pengiklan">
      <p>Kucoba untuk melawan hati, tapi hampa terasa disini tanpamu, bagiku semua sangat berarti lagi, kuingin kau disini, tepiskan
        sepiku bersama mu, hingga akhir waktu.</p>
    </app-label-text>
  </div>
  <div side-content>
    <app-label-text label="Status">
      <app-icon-text icon="assignment">Pendaftaran sedang diproses</app-icon-text>
    </app-label-text>
  </div>
  <div responsive-content>
    <app-label-text label="Panduan Campaign"></app-label-text>
    <app-todo-content [todo]="['application']"></app-todo-content>
  </div>
</app-campaign-layout>
