/* You can add global styles to this file, and also import other style files */
@import "./styles/virallo.scss";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/bootstrap.scss";

html, body {
  height: 100%;
  margin: 0;
  font-family: $font-regular !important;
  color: $grey-base !important;
}


