<!-- <div class="row align-items-baseline">
  <div class="col">
    <app-main-header>Beranda</app-main-header>
  </div>
  <div class="col-auto" *showItBootstrap="['sm','xs']">
    <button mat-button mat-raised-button (click)="openGuide()">Panduan</button>
  </div>
</div> -->

<app-main-header>Beranda</app-main-header>
<button mat-button mat-raised-button *showItBootstrap="['sm','xs']"
  (click)="openGuide()" class="absolute-top-right">Panduan</button>

<app-home-offer></app-home-offer>

<div class="row">
  <div class="col-12 col-md-8">
    <app-home-timeline></app-home-timeline>
  </div>
  <div class="col-md-4" *showItBootstrap="['md','lg','xl']">
    <h5>Panduan Virallo</h5>
    <div class="spacer small"></div>
    <mat-card class="pt-0">
      <app-guidelines-content></app-guidelines-content>
    </mat-card>
  </div>
</div>
