<div class="text-center">
  <h4>Cara Menambahkan Akun Instagram</h4>
</div>

<div class="phone-gif">
  <img [src]="instaGif" class="img-fluid">
</div>

<mat-card>
  <ol>
    <li>Buka Instagram di smartphone atau laptop,</li>
    <li>Follow akun Instagram @virallo.id,</li>
    <li>Setelah follow, kembali lagi untuk memverifikasi akun kamu. Hanya masukkan nama akun Instagram kamu dan klik tombol di bawah,</li>
    <li>Virallo akan memverifikasi akun kamu secepat kamu telah follow akun Instagram Virallo,</li>
    <li>Pastikan kamu tidak mengaktifkan mode private di akun Instagram kamu.</li>
  </ol>
  <app-instagram-search></app-instagram-search>
  <button mat-button mat-raised-button (click)="router.navigate(['/account/profile'])"
    color="primary" class="w-100">Verifikasi Akun Instagram</button>
</mat-card>
