<mat-list-item>
  <div class="row no-gutters justify-content-between align-items-center w-100">
    <div class="col">
      <p class="large">
        <ng-content></ng-content>
      </p>
    </div>
    <div class="col-auto">
      <ng-container *ngIf="number; else noPost;">
        <app-icon-number color="red" [icon]="icon" [number]="number"
          [options]="{logoRight: true}"></app-icon-number>
      </ng-container>
      <ng-template #noPost>
        <p class="small">tidak ada post</p>
      </ng-template>
    </div>
  </div>
</mat-list-item>
<mat-divider></mat-divider>
