<app-main-header *ngIf="checkMenu()">Akun</app-main-header>

<div class="row">
  <div class="col-md-auto col-12" *ngIf="checkMenu()">
    <app-account-menu></app-account-menu>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
