<mat-nav-list *showItBootstrap="['md','lg','xl']">
  <mat-list-item>
    <a routerLinkActive="active-link" routerLink="/home">
      <app-icon-text icon="home">Beranda</app-icon-text>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLinkActive="active-link" routerLink="/campaign">
      <app-icon-text icon="work">Campaign</app-icon-text>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLinkActive="active-link" routerLink="/analytic">
      <app-icon-text icon="timeline">Analisa</app-icon-text>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLinkActive="active-link" routerLink="/notification">
      <app-icon-text icon="notifications">Notifikasi</app-icon-text>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLinkActive="active-link" routerLink="/account">
      <app-icon-text icon="person">Akun</app-icon-text>
    </a>
  </mat-list-item>
  <mat-list-item>
    <app-icon-text icon="exit_to_app">Keluar</app-icon-text>
  </mat-list-item>
</mat-nav-list>

<div class="menu-mobile" *showItBootstrap="['sm','xs']">
  <a mat-icon-button routerLinkActive="active-link" routerLink="/home/"><mat-icon>home</mat-icon></a>
  <a mat-icon-button routerLinkActive="active-link" routerLink="/campaign/"><mat-icon>work</mat-icon></a>
  <a mat-icon-button routerLinkActive="active-link" routerLink="/analytic/"><mat-icon>timeline</mat-icon></a>
  <a mat-icon-button routerLinkActive="active-link" routerLink="/notification/"><mat-icon>notifications</mat-icon></a>
  <a mat-icon-button routerLinkActive="active-link" routerLink="/account/"><mat-icon>person</mat-icon></a>
</div>
