
<h5>Capabilities bro</h5>

<div class="row">
  <div class="col-12 col-md-6">
    <mat-basic-chip [selectable]="true">
      Foto Instagram <mat-icon>add</mat-icon>
    </mat-basic-chip>
  </div>
  <div class="col-12 col-md-6">
    <mat-form-field>
      <mat-select placeholder="Harga Posting">
        <mat-option value="option">Option</mat-option>
        <mat-option value="option1">Option1</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <mat-basic-chip [selectable]="true">
      Video Instagram <mat-icon>add</mat-icon>
    </mat-basic-chip>
  </div>
  <div class="col-12 col-md-6">
    <mat-form-field>
      <mat-select placeholder="Harga Posting">
        <mat-option value="option">Option</mat-option>
        <mat-option value="option1">Option1</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
