<app-card-item image="https://material.angular.io/assets/img/examples/shiba2.jpg"
  [options]="{imageTop: true}">
  <div class="row">
    <div class="col">
      <h6>#JudulCampaignDisini</h6>
      <p>Company Name</p>
    </div>
    <div class="col-auto">
      <i class="fa fa-instagram"></i>
    </div>
  </div>
</app-card-item>
