<div class="row">
  <div class="col-sm-6 col-lg-12">
    <app-summary-item [media]="{title: 'Posting Terakhir', engagement: '7,3%'}"
      [top]="checkTop()"></app-summary-item>
  </div>
  <div class="col-sm-6 col-lg-4">
    <app-summary-item [media]="{title: 'Engagement Terbaik', engagement: '7,3%'}"></app-summary-item>
  </div>
  <div class="col-sm-6 col-lg-4">
    <app-summary-item [media]="{title: 'Likes Terbaik', engagement: '7,3%'}"></app-summary-item>
  </div>
  <div class="col-sm-6 col-lg-4">
    <app-summary-item [media]="{title: 'Comments Terbaik', engagement: '7,3%'}"></app-summary-item>
  </div>
</div>
