<mat-nav-list>
  <mat-list-item (click)="expand()">
    <div mat-line>
      <h6 class="text-heavy">{{ title }}</h6>
      <p class="small" *ngIf="subtitle">{{ subtitle }}</p>
    </div>
    <mat-icon>{{ isOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-nav-list>

<div *ngIf="isOpen">
  <ng-content></ng-content>
  <div class="spacer small"></div>
</div>
